/**************
 Section Main
***************/
.section {
  // Check if multiple padding is needed or just per page or 2 to 3 custom padding.
  // --se-base-pd: var(--space-3xl); // Uncomment if custom 
  --se-short-pd: var(--space-m);
  --se-medium-pd: var(--space-xl);
  --se-base-pd__on-l: var(--se-base-pd);
  --se-base-pd__on-m: var(--se-base-pd);
  --se-large-pd: var(--space-5xl);
  --se-x-large-pd: var(--space-8xl);

  // --se-head-inside-col-mb: var(--space-l); // Uncomment if custom
  --se-head-mb: var(--space-l);
  --se-head-mb-sm: var(--space-xs);
  --se-head-mb__on-l: var(--se-head-mb);
  --se-head-wrap-mxw: 950px;
  --se-head-wrap-text-mxw: 950px;
  --se-head-wrap-mxw__on-l: 650px;
  --se-head-wrap-text-mxw__on-l: 850px;
  --se-head-wrap-mxw__on-m: 650px;
  --se-head-wrap-text-mxw__on-m: 850px;

  // H4
  --se-head-label--color: var(--primary);
  --se-head-label--font-size: var(--text-s);
  --se-head-label--font-weight: 600;
  --se-head-label--tex-trans: uppercase;
  --se-head-label--let-spcing: 2px;
  --se-head-label--mb: var(--space-xs);

  // H2
  --se-head-title--color: var(--text-title);
  // --se-head-title--font-size: var(--font-sec-title); uncomment if custom
  --se-head-title--font-weight: 300;
  --se-head-title--tex-trans: capitalize;
  --se-head-title--let-spcing: 0;
  --se-head-title--let-spcing__on-m: var(--se-head-title--let-spcing);
  --se-head-title--mb: var(--space-xs);

  // H3
  --se-head-subtitle--color: var(--text-title);
  --se-head-subtitle--font-size: var(--text-xl);
  --se-head-subtitle--font-size__on-m: var(--se-head-subtitle--font-size);
  --se-head-subtitle--font-weight: 400;
  --se-head-subtitle--tex-trans: capitalize;
  --se-head-subtitle--let-spcing: 0;
  --se-head-subtitle--let-spcing__on-m: var(--se-head-subtitle--let-spcing);
  --se-head-subtitle--mb: var(--space-xs);

  // Text
  --se-head-text--color: var(--text-body);
  --se-head-text--font-size: var(--text-m);
  --se-head-text--font-weight: 400;
  --se-head-text--tex-trans: none;
  --se-head-text--let-spcing: 0;
  --se-head-text--mb: var(--space-xs);

  // Section Content
  --se-content-h3--color: var(--text-body);
  --se-content-h3--font-size: var(--text-m);
  --se-content-h3--font-weight: 400;
  --se-content-h3--text-case: none;
  --se-content-h3--let-spcing: 0;
  --se-content-h3--mb: var(--space-xs);

  // --se-content-p--mb: var(--space-xs); // Uncomment if custom

  // Section Body - Footer
  --se-footer-btn-mt: var(--space-2xl);
  --se-footer-btn-mt__on-l: var(--se-footer-btn-mt);
  --se-footer-btn-sbs-col-gap: var(--space-xs);
  --se-footer-btn-sbs-col-gap__on-l: var(--se-footer-btn-sbs-col-gap);
  --se-footer-btn-sbs-row-gap: var(--space-xs);
  --se-footer-btn-sbs-row-gap__on-m: var(--se-footer-btn-sbs-row-gap);
}

/* Section */
.section {
  // padding: var(--se-base-pd) 0; // Uncomment if custom
  padding: var(--space-section-pd) 0;

  &.se--base-pd-tb {
    padding: var(--se-base-pd) 0;
  }

  &.se--base-no-pd-t {
    padding: 0 0 var(--se-base-pd);
  }

  &.se--base-no-pd-b {
    padding: var(--se-base-pd) 0 0;
  }

  &.se--short-pd-tb {
    padding: var(--se-short-pd) 0;
  }

  &.se--medium-pd-tb {
    padding: var(--se-medium-pd) 0;
  }

  &.se--large-pd-tb {
    padding: var(--se-large-pd) 0;
  }
  &.se--x-large-pd-tb {
    padding: var(--se-x-large-pd) 0;
  }

  &.se--no-pd {
    padding: 0;
  }

  &.bg-img-pos-left {
    // To be updated
    background-position: left;
  }
}

.section-v1--content-wrap {
}

.section-head {
  // margin-bottom: var(--se-head-mb); // Uncomment if custom
  margin-bottom: var(--space-section-head-mb);

  &.se--head--align-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &.se--head--align-end {
    margin-left: auto;
    text-align: right;
  }

  &.se--head-wrap {
    max-width: var(--se-head-wrap-mxw);
    margin-left: auto;
    margin-right: auto;
  }

  &.se--head-wrap-text {
    p {
      max-width: var(--se-head-wrap-text-mxw);
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.se--head-no-pd {
    padding: 0;
  }

  &.se--head-mb-sm {
    margin-bottom: var(--se-head-mb-sm);
  }

  &.se--head-inside-col-mb {
    // margin-bottom: var(--se-head-inside-col-mb); // Uncomment if custom
    margin-bottom: var(--space-section-head-inside-col-mb);
  }

  // Label
  h4,
  .section-head__label {
    color: var(--se-head-label--color);
    font-size: var(--se-head-label--font-size);
    font-weight: var(--se-head-label--font-weight);
    text-transform: var(--se-head-label--tex-trans);
    letter-spacing: var(--se-head-label--let-spcing);
    margin-bottom: var(--se-head-label--mb);
  }

  // Title
  h2,
  .section-head__title {
    color: var(--se-head-title--color);
    font-size: var(--font-section-title);
    // font-size: var(--se-head-title--font-size); // uncomment if custom
    font-weight: var(--se-head-title--font-weight);
    text-transform: var(--se-head-title--tex-trans);
    letter-spacing: var(--se-head-title--let-spcing);
    margin-bottom: var(--se-head-title--mb);
  }

  // Subtitle
  h3,
  .section-head__subtitle {
    color: var(--se-head-subtitle--color);
    font-size: var(--se-head-subtitle--font-size);
    font-weight: var(--se-head-subtitle--font-weight);
    text-transform: var(--se-head-subtitle--tex-trans);
    letter-spacing: var(--se-head-subtitle--let-spcing);
    margin-bottom: var(--se-head-subtitle--mb);
  }

  p {
    color: var(--se-head-text--color);
    font-size: var(--se-head-text--font-size);
    font-weight: var(--se-head-text--font-weight);
    text-transform: var(--se-head-text--tex-trans);
    letter-spacing: var(--se-head-text--let-spcing);
    margin-bottom: var(--se-head-text--mb);
  }

  & :last-child {
    margin-bottom: 0;
  }
}

.section-body {
  // .se--body-footer {
  //   &.se--bdf--align-left {
  //     align-items: start;
  //   }

  //   &.se--bdf--align-center {
  //     align-items: center;
  //   }

  //   &.se--bdf--align-right {
  //     align-items: end;
  //   }
  // }

  // .se--bdf-btn-wrap {
  //   margin-top: var(--se-bf-mt);
  // }
}

.section--footer {
}

.section--footer-btn {
  margin-top: var(--se-footer-btn-mt);

  &.se--footer-btn--align-left {
    align-items: start;
  }

  &.se--footer-btn--align-center {
    align-items: center;
  }

  &.se--footer-btn--align-right {
    align-items: end;
  }

  &.se-content-footer-no-mt {
    margin-top: 0;
  }
}

.section-col {
  height: 100%;
  padding: var(--se-base-pd) 0;
  overflow: hidden;

  &.al-item-right {
    align-items: end;
  }

  &.al-item-center {
    align-items: center;
  }

  &.ju-content-center {
    justify-content: center;
  }

  &.ju-content-right {
    justify-content: end;
  }

  &.se--base-pd-tb {
    padding: var(--se-base-pd) 0;
  }

  &.se--base-no-pd-t {
    padding: 0 0 var(--se-base-pd);
  }

  &.se--base-no-pd-b {
    padding: var(--se-base-pd) 0 0;
  }

  &.se--short-pd-tb {
    padding: var(--se-short-pd) 0;
  }

  &.se--medium-pd-tb {
    padding: var(--se-medium-pd) 0;
  }
  &.se--large-pd-tb {
    padding: var(--se-large-pd) 0;
  }
  &.se--x-large-pd-tb {
    padding: var(--se-x-large-pd) 0;
  }

  &.se--no-pd {
    padding: 0;
  }
}

.section-content {
  width: 100%;

  &.se-c--mxw-700px {
    max-width: 700px;
  }

  &.se-c--mxw-840px {
    max-width: 840px;
  }

  &.se-c--mxw-940px {
    max-width: 940px;
  }

  &.se-c--mxw-1100px {
    max-width: 1100px;
  }

  &.se-c--mxw-1200px {
    max-width: 1200px;
  }

  &.se-c--align-center {
    text-align: center;
    align-items: center;

    & > div {
      align-items: center;
    }
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.section-content--text {

  &.se-content-text--ul-no-margin {
    ul {
      margin: 0;
    }
  }

  &.se-content-text--ul-no-mt {
    ul {
      margin-top: 0;
    }
  }

  &.se-content-text--ul-no-mb {
    ul {
      margin-bottom: 0;
    }
  }

  h3 {
    color: var(--se-content-h3--color);
    font-size: var(--se-content-h3--font-size);
    font-weight: var(--se-content-h3--font-weight);
    text-transform: var(--se-content-h3--text-case);
    letter-spacing: var(--se-content-h3--let-spcing);
    margin-bottom: var(--se-content-h3--mb);
  }

  p {
    margin-bottom: var(--space-default-p-mb);
    // margin-bottom: var(--se-content-p--mb); // Uncomment if custom

    &:last-child {
      margin-bottom: 0;
    }
  }

  & > p:last-child {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}



.section-content--footer-btn {
  margin-top: var(--se-footer-btn-mt);
  flex-direction: row;
  display: flex;

  &.se--content-footer-btn--align-left {
    justify-content: start;
  }

  &.se--content-footer-btn--align-center {
    justify-content: center;
  }

  &.se--content-footer-btn--align-right {
    justify-content: end;
  }

  &.se--content-footer-btn--sbs {
    display: flex;
    flex-direction: row;
    column-gap: var(--se-footer-btn-sbs-col-gap);
    row-gap: var(--se-footer-btn-sbs-row-gap);
  }
}

.section-head__label {
  color: var(--se-head-label--color);
  text-transform: var(--se-head-label--tex-trans);
  font-size: var(--se-head-label--font-size);
  font-weight: var(--se-head-label--font-weight);
  letter-spacing: var(--se-head-label--let-spcing);
  margin-bottom: var(--se-head-label--mb);
}

.section-head__title {
  color: var(--se-head-title--color);
  font-size: var(--section-title-size);
  font-weight: var(--se-head-title--font-weight);
  text-transform: var(--se-head-title--tex-trans);
  letter-spacing: var(--se-head-title--let-spcing);
  margin-bottom: var(--se-head-title--mb);
}

.section-head__subtitle {
  color: var(--se-head-subtitle--color);
  font-size: var(--se-head-subtitle--font-size);
  font-weight: var(--se-head-subtitle--font-weight);
  text-transform: var(--se-head-subtitle--tex-trans);
  letter-spacing: var(--se-head-subtitle--let-spcing);
  margin-bottom: var(--se-head-subtitle--mb);
}

.section-head__text {
  color: var(--se-head-text--color);
  font-size: var(--se-head-text--font-size);
  font-weight: var(--se-head-text--font-weight);
  text-transform: var(--se-head-text--tex-trans);
  letter-spacing: var(--se-head-text--let-spcing);
  margin-bottom: var(--se-head-text--mb);
}

.section--wrap-content {
  max-width: 96%;

  &.se-wc--al-slf-end {
    align-self: end;
  }

  &.se-wc--mxw-100 {
    max-width: 100%;
  }

  &.se-wc--mxw-92 {
    max-width: 92%;
  }

  &.se-wc--mxw-90 {
    max-width: 90%;
  }

  &.se-wc--mxw-86 {
    max-width: 86%;
  }

  &.se-wc--mxw-theme {
    max-width: 86%;
  }

  &.se-wc--mxw-l-space-r {
    max-width: 88%;
  }
}

/**************
Responsive
***************/
/* desktop-1470 */
@include desktop-1470 {
  .section--wrap-content {
    max-width: 96%;

    &.se-wc--mxw-theme {
      max-width: 90%;
    }

    &.se-wc--mxw-l-space-r {
      max-width: 88%;
    }
  }
}
/* desktop-1440 | __on-3xl */
@include desktop-1440 {
}

/* desktop-1366 | __on-2xl */
@include desktop-1366 {
}

/* desktop-1200 | __on-xl */
@include desktop-1200 {
}

/* tablet-992 | __on-l */
@include tablet-992 {
  .section {
    padding: var(--se-base-pd__on-l) 0;

    &.se--base-pd-tb {
      padding: var(--se-base-pd__on-l) 0;
    }
  
    &.se--base-no-pd-t {
      padding: 0 0 var(--se-base-pd__on-l);
    }
  
    &.se--base-no-pd-b {
      padding: var(--se-base-pd__on-l) 0 0;
    }
  }

  .section-col {
    padding: var(--se-base-pd__on-l) 0;

    &.se--base-pd-tb {
      padding: var(--se-base-pd__on-l) 0;
    }
  
    &.se--base-no-pd-t {
      padding: 0 0 var(--se-base-pd__on-l);
    }
  
    &.se--base-no-pd-b {
      padding: var(--se-base-pd__on-l) 0 0;
    }
  }
  
  .section--wrap-content {
    max-width: 100%;

    &.se-wc--mxw-theme {
      max-width: 100%;
    }
  }

  .section-head {
    margin-bottom: var(--se-head-mb__on-l);

    &.se--head--align-center__on-l {
      text-align: center;
      align-items: center;
    }

    &.se--head--align-end__on-l {
      margin-left: auto;
      text-align: right;
    }

    &.se-h--mb-xtra__on-l {
      margin-bottom: var(--space-xl);
    }
  }

  .section-content--footer-btn {
    margin-top: var(--se-footer-btn-mt__on-l);
  
    &.se--content-footer-btn--align-left__on-l {
      justify-content: start;
    }
  
    &.se--content-footer-btn--align-center__on-l {
      justify-content: center;
    }
  
    &.se--content-footer-btn--align-right__on-l {
      justify-content: end;
    }

    &.se--content-footer-btn--sbs {
      column-gap: var(--se-footer-btn-sbs-col-gap__on-l);
      row-gap: var(--se-footer-btn-sbs-row-gap__on-m);
    }
  }
}

/* tablet 767 __on-m */
@include tablet-767 {
  .section {
    padding: var(--se-base-pd__on-m) 0;

    &.se--base-pd-tb {
      padding: var(--se-base-pd__on-m) 0;
    }
  
    &.se--base-no-pd-t {
      padding: 0 0 var(--se-base-pd__on-m);
    }
  
    &.se--base-no-pd-b {
      padding: var(--se-base-pd__on-m) 0 0;
    }
  }

  .section-col {
    padding: var(--se-base-pd__on-m) 0;

    &.se--base-pd-tb {
      padding: var(--se-base-pd__on-m) 0;
    }
  
    &.se--base-no-pd-t {
      padding: 0 0 var(--se-base-pd__on-m);
    }
  
    &.se--base-no-pd-b {
      padding: var(--se-base-pd__on-m) 0 0;
    }
  }

  .section-head {
    &.se--head--align-center__on-m {
      text-align: center;
      align-items: center;
    }

    &.se--head--align-end__on-m {
      margin-left: auto;
      text-align: right;
    }

    h2 {
      font-size: var(--section-title-size);
      letter-spacing: var(--se-head-title--let-spcing__on-m);
    }

    h3 {
      font-size: var(--se-head-subtitle--font-size__on-m);
      letter-spacing: var(--se-head-subtitle--let-spcing__on-m);
    }
  }
}

/* mobile-440 __on-s */
@include mobile-440 {
}
