/**************
 Utility Override
***************/

.t--hide-section {
  display: none;
}

.t--no-m {
  margin: 0 !important;
}

.t--no-mt {
  margin-top: 0 !important;
}

.t--no-mb {
  margin-bottom: 0 !important;
}

.t--no-ml {
  margin-left: 0 !important;
}

.t--no-mr {
  margin-right: 0 !important;
}

.t--no-m-tb {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.t--no-m-lr {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.t--auto-m-lr {
  margin-left: auto;
  margin-right: auto;
}

.t--auto-m-lr-forced {
  margin-left: auto !important;
  margin-right: auto !important;
}

.t--no-pd {
  padding: 0 !important;
}

.t--no-pd-tb {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.t--no-pd-t {
  padding-top: 0 !important;
}

.t--no-pd-b {
  padding-bottom: 0 !important;
}

.t--no-pd-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.t--no-pd-l {
  padding-left: 0 !important;
}

.t--no-pd-r {
  padding-right: 0 !important;
}

// Max width and width
.t--hw-100 {
  height: 100%;
  width: 100%;
}

.t--mxw-100 {
  max-width: 100%;
}

.t--mxw-92 {
  max-width: 92%;
}

.t--mxw-90 {
  max-width: 90%;
}

.t--mxw-86 {
  max-width: 86%;
}

.t--mxw-84 {
  max-width: 86%;
}

.t--text-align-left {
  text-align: left;
}

.t--text-align-center {
  text-align: center;

  span:not(.wpcf7-not-valid-tip) {
    text-align: left;
  }
}

.t--text-align-right {
  text-align: right;

  span:not(.wpcf7-not-valid-tip) {
    text-align: left;
  }
}

.t--height-100-or {
  height: 100%;
}

// Flexbox Utilities
.t--flex-wrap--no-wrap {
  flex-wrap: nowrap;
}

.t--flex-wrap--wrap {
  flex-wrap: wrap;
}

.t--flex-align-item--center {
  align-items: center;
}

.t--flex-align-item--end {
  align-items: end;
}

// Flex Direction
.t--flex-dir--col {
  flex-direction: column;
}

.t--flex-dir--col-rev {
  flex-direction: column-reverse;
}

.t--flex-dir--row {
  flex-direction: row;
}

.t--flex-dir--row-rev {
  flex-direction: row-reverse;
}

// Flex - Justify Content

.t--flex-just--center {
  justify-content: center;
}

.t--flex-just--space-between {
  justify-content: space-between;
}


/**************
Responsive
***************/
/* desktop-1440 | __on-3xl */
@include desktop-1440 {
}

/* desktop-1366 | __on-2xl */
@include desktop-1366 {
}

/* desktop-1200 | __on-xl */
@include desktop-1200 {
  // Margins
  .t--no-m__on-xl {
    margin: 0 !important;
  }

  // Flex
  .t--flex-align-item--center__on-xl {
    align-items: center !important;
  }

  .t--flex-align-item--end__on-xl {
    align-items: end !important;
  }

  .t--flex-dir--col-rev__on-xl {
    flex-direction: column-reverse !important;
  }

  // Flex Direction
  .t--flex-dir--col__on-xl {
    flex-direction: column;
  }

  .t--flex-dir--col-rev__on-xl {
    flex-direction: column-reverse;
  }

  .t--flex-dir--row__on-xl {
    flex-direction: row;
  }

  .t--flex-dir--row-rev__on-xl {
    flex-direction: row-reverse;
  }

  .t--flex-wrap--wrap__on-xl {
    flex-wrap: wrap;
  }
}

/* tablet-992 | __on-l */
@include tablet-992 {
  .t--no-m__on-l {
    margin: 0 !important;
  }

  .t--auto-m-lr__on-l {
    margin-left: auto;
    margin-right: auto;
  }
  
  .t--auto-m-lr-forced__on-l {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  // Flex
  .t--flex-align-item--center__on-l {
    align-items: center;
  }

  .t--flex-align-item--end__on-l {
    align-items: end;
  }

  .t--flex_dir--col-rev__on-l {
    flex-direction: column-reverse !important;
  }

  // Flex Direction
  .t--flex-dir--col__on-l {
    flex-direction: column;
  }

  .t--flex-dir--col-rev__on-l {
    flex-direction: column-reverse;
  }

  .t--flex-dir--row__on-l {
    flex-direction: row;
  }

  .t--flex-dir--row-rev__on-l {
    flex-direction: row-reverse;
  }
}

/* tablet 767 __on-m */
@include tablet-767 {

  .t--auto-m-lr__on-m {
    margin-left: auto;
    margin-right: auto;
  }

  // Flex
  .t--flex_align-item--center__on-m {
    align-items: center;
  }

  // Flex Direction
  .t--flex-dir--col__on-m {
    flex-direction: column;
  }

  .t--flex-dir--col-rev__on-m {
    flex-direction: column-reverse;
  }

  .t--flex-dir--row__on-m {
    flex-direction: row;
  }

  .t--flex-dir--row-rev__on-m {
    flex-direction: row-reverse;
  }
}

/* mobile-440 __on-s */
@include mobile-440 {
  // Flex Direction
  .t--flex-dir--col__on-s {
    flex-direction: column;
  }

  .t--flex-dir--col-rev__on-s {
    flex-direction: column-reverse;
  }

  .t--flex-dir--row__on-s {
    flex-direction: row;
  }

  .t--flex-dir--row-rev__on-s {
    flex-direction: row-reverse;
  }
}
