/**************
 Card Overlay 
***************/

:root {
}

.card--img-w-overlay-content {
  // aspect-ratio: 10/9;
  // height: 100%;

  .card-inner--img-wrap {
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    align-items: center;
    height: 100%;

    &:hover {
      .card-inner--img-wrap__content {
        visibility: hidden;
      }

      .card-inner--img-wrap__overlay-bg {
        background: rgba(17, 54, 47, 0.78);
        // opacity: 0.7;
      }

      .card-inner--img-wrap__content-on-hover {
        visibility: visible;
      }
    }

    .card-inner--img-wrap__img-bg {
      aspect-ratio: 14/13;
      width: 100%;

      img {
        // position: relative !important;
        object-fit: cover;
      }
    }

    
    .card-inner--img-wrap__img-bg-mobile {
      display: none;
    }

    .card-inner--img-wrap__overlay-bg {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 11.16%,
        rgba(62, 92, 87, 0.61965) 57.37%,
        rgba(17, 54, 47, 0.765) 80.56%
      );

    }

    .card-inner--img-wrap__content {
      position: absolute;
      z-index: 9;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: end;

      .el--number-title {
        opacity: 1;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        column-gap: var(--space-xs);
        align-items: center;
        justify-content: center;
        max-width: 86%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: var(--space-4xs);
        height: fit-content;
        z-index: 10;

        .el--nt__number {
          color: var(--secondary);
          font-size: var(--text-5xl);
          font-family: var(--font-family-alt-1);
          font-weight: 500;
          margin-bottom: 0;
        }

        .el--nt__title {
          color: var(--text-light);
          font-family: var(--font-heading);
          font-size: var(--text-l);
          font-weight: 700;
          margin-bottom: 0;
          position: relative;
          line-height: 1.42;
          letter-spacing: 2.1px;

          &::before {
            content: "";
            width: 2px;
            position: absolute;
            left: -22px;
            min-height: 10px;
            height: calc(100% - 10px);
            background-color: #cdb85f;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    .card-inner--img-wrap__content-on-hover {
      position: absolute;
      visibility: hidden;
      // overflow: hidden;
      z-index: 9;
      height: 100%;
      width: 100%;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;

      // background-color: #6633997b;

      h3 {
        font-size: var(--text-l);
        font-weight: 700;
        margin-left: auto;
        margin-right: auto;
        max-width: 260px;

        margin-bottom: var(--space-5xs);
      }
      p {
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
      }
    }
  }

  .card-inner--img-wrap__content-on-mobile {
    display: none;
  }
}

/**************
Responsive
***************/
/* desktop-1440 | __on-3xl */
@include desktop-1440 {
}

/* desktop-1366 | __on-2xl */
@include desktop-1366 {
}

/* desktop-1200 | __on-xl */
@include desktop-1200 {

  .card--img-w-overlay-content {
    .card-inner--img-wrap {
      justify-content: center;

      &:hover {
        .card-inner--img-wrap__content {
          visibility: visible;
        }

        .card-inner--img-wrap__overlay-bg {
          background: none;
        }
      }

      .card-inner--img-wrap__img-bg {
        display: none;
      }

      .card-inner--img-wrap__img-bg-mobile {
        display: block;
        width: 100%;
      }

      .card-inner--img-wrap__overlay-bg {
        background: none;
      }

      .card-inner--img-wrap__content {
        height: auto;
        .el--number-title {
          margin-bottom: 0;
          justify-content: start;
          .el--nt__title::before {
            left: -16px;
          }
        }
      }

      .card-inner--img-wrap__content-on-hover {
        display: none;
      }
    }

    .card-inner--img-wrap__content-on-mobile {
      display: block;
      padding: var(--space-xs) var(--space-s);

      h3 {
        display: none;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

/* tablet-992 | __on-l */
@include tablet-992 {
}

/* tablet 767 __on-m */
@include tablet-767 {

  .card--img-w-overlay-content {
    flex-direction: row;
    height: auto;


    .card-inner--img-wrap {

      .card-inner--img-wrap__content {
  
        .el--number-title {

          .el--nt__number {
            font-size: 40px;
          }
  
          .el--nt__title {
            font-size: 18px;
            max-width: 210px;
          }
        }
      }
    }
  }



}

/* mobile-440 __on-s */
@include mobile-440 {
}
