/**************
 Card Item - 
***************/
/****** Variables *******/
.card-item--pricing {
   --card-item-pd__on-l: var(--card-item-pd);
  --card-item-pd__on-m: var(--card-item-pd__on-l);
    --card-item-bg: #fff;
      --card-item-border-width: 3px;
  --card-item-border-radius: 30px;
}
/****** CSS *******/
.card-item--w-card-bg {

}
/**************
Responsive
***************/
/* desktop-1440 | __on-3xl */ 
@include desktop-1440  {}

/* desktop-1366 | __on-2xl */
@include desktop-1366  {}

/* desktop-1200 | __on-xl */
@include desktop-1200  {}
 
/* tablet-992 | __on-l */
@include tablet-992 {}
 
/* tablet 767 __on-m */
@include tablet-767 {}
 
/* mobile-440 __on-s */
@include mobile-440 {}