/**************
 Blog Blocks
***************/

/****** Note: File @imports are at the bottom *******/


.bm-sidebar--block {
  margin-bottom: var(--bm-sb-block--mb);
  padding-bottom: var(--bm-sb-block--pb);
  border-bottom: var(--bm-sb-block--border-bottom);

  ul,
  ol {
    margin: 0;
    padding-left: 8px;
  }

  &:last-child {
    border-bottom: none;
  }
}

// Sidebar Blocks Title
.bm-block__title {
  font-size: var(--bm-sb-block--title-size);
  margin-bottom: var(--bm-sb-block--title-mb);
  text-transform: var(--bm-sb-block--title-case);
  line-height: var(--bm-sb-block--title-line-height);
  letter-spacing: var(--bm-sb-block--title-letter-spacing);
  font-weight: var(--bm-sb-block--title-weight);
}

/**************
Responsive
***************/
/* desktop-1440 | __on-3xl */ 
@include desktop-1440  {}

/* desktop-1366 | __on-2xl */
@include desktop-1366  {}

/* desktop-1200 | __on-xl */
@include desktop-1200  {}
 
/* tablet-992 | __on-l */
@include tablet-992 {}
 
/* tablet 767 __on-m */
@include tablet-767 {}
 
/* mobile-440 __on-s */
@include mobile-440 {}


/****** Import Blocks *******/
@import './blog-blocks/blog-blocks-sb--search.scss'; // Search Sidebar Blocks
@import './blog-blocks/blog-blocks-sb--about.scss'; // About Sidebar Blocks
@import './blog-blocks/blog-blocks-sb--latest-post.scss'; // Latest Post Blocks
@import './blog-blocks/blog-blocks-sb--categories.scss'; // Categories Blocks
@import './blog-blocks/blog-blocks-sb--newsletter-block.scss'; // Newsletter Blocks
@import './blog-blocks/blog-blocks-sb--tags.scss'; // Tags Blocks
@import './blog-blocks/blog-blocks-sb--archive.scss'; // Archive Blocks
@import './blog-blocks/blog-blocks-sb--calendar.scss'; // Calendar Sidebar Blocks
@import './blog-blocks/blog-blocks-sb--latest-comments.scss'; // Latest Comment Blocks
@import './blog-blocks/blog-blocks-sb--related-post.scss'; // Latest Comment Blocks
@import './blog-blocks/blog-blocks--related-post.scss'; // Related Post Blocks

