/**************
 Blog Main
***************/
.blog-main {
  // --bm-padding: var(--space-sec-blog-main-pd) 0;  // Uncomment if custom, comment above/below
  --bm-padding: var(--space-section-pd) 0;
  --bm-posts-sb--col-gap: var(--space-xl);
  --bm-posts-sb--col-gap__on-2xl: var(--space-m);
  --bm-posts-sb--row-gap: var(--space-xl);
  --bm-posts-sb--posts-size: 7fr;
  --bm-posts-sb--sb-size: 3fr;
  --bm-posts-sb--row-width: 920px; // Blog Posts Single col
}

.bm-main-col {
  --bm-item-border-bottom: 1px solid var(--border-light-gray);
  --bm-posts--content-pb: var(--space-xs);
  --bm-posts--row-gap: var(--space-l);
  --bm-posts--pagination-mt: var(--space-l);
  
  --bm-posts--img-aspect-ratio: 16 / 9;

  --bm-posts--title-font-size: var(--text-3xl);
  --bm-posts--title-font: var(--font-body);
  --bm-posts--title-weight: 600;
  --bm-posts--title-case: "capitalized";
  --bm-posts--title-mb: var(--space-4xs);
  // --bm-posts--title-line-height: 1.1;
  // --bm-posts--title-letter-spacing: 0;

  --bm-posts--meta-color: var(--text-body);
  --bm-posts--meta-font: var(--font-body);
  --bm-posts--meta-font-size: var(--text-m);
  --bm-posts--meta-font-weight: 400;
  // --bm-posts--meta-letter-spacing: 1px;
  --bm-posts--meta-mb: var(--space-2xs);

  --bm-posts--excerpt-font-size: var(--text-m);
  --bm-posts--excerpt-font-weight: 400;
  --bm-posts--excerpt-mb: var(--space-2xs);

  --bm-posts--link-case: "capitalized";
  --bm-posts--link-weight: 500;
  // --bm-posts--link-letter-spacing: 1.2px;
}

.bm-sidebar {
  --bm-sb-block--row-gap: var(--space-s);
  --bm-sb-block--mb: 0;
  --bm-sb-block--pb: var(--space-xs);
  --bm-sb-block--border-bottom: 1px solid #cbd0f2;
  --bm-sb-block--title-size: var(--text-xl);
  --bm-sb-block--title-weight: 600;
  --bm-sb-block--title-line-height: ;
  --bm-sb-block--title-mb: var(--space-4xs);
  --bm-sb-block--title-case: capitalize;
  // --bm-sb-block--title-letter-spacing: 1.2px;
}

/****** Blog Main *******/
.blog-main {
  padding: var(--bm-padding);
}

/****** Blog Main with Sidebar *******/
// .bm--posts-single-col-v1 
.bm--posts-single-col {
  .bm--posts-single-col--row {
    row-gap: var(--bm-posts-sb--row-gap);
    margin: 0 auto;
    max-width: var(--bm-posts-sb--row-width);
  }
}

/****** Blog Main with Sidebar *******/
.bm--posts-w-sidebar {
  .bm--posts-w-sidebar--row {
    // Default: Posts | Sidebar
    display: grid;
    grid-template-columns: var(--bm-posts-sb--posts-size) var(
        --bm-posts-sb--sb-size
      );
    column-gap: var(--bm-posts-sb--col-gap);
    row-gap: var(--bm-posts-sb--row-gap);

    &.bm-posts-w-sidebar--sb-posts {
      grid-template-columns: var(--bm-posts-sb--sb-size) var(
          --bm-posts-sb--posts-size
        );
    }
  }
}

/****** Blog Main - Post *******/
.bm-posts--wrap {
  display: grid;
  row-gap: var(--bm-posts--row-gap);
}

.bm-posts {
  .bm-posts--item {
    border-bottom: var(--bm-item-border-bottom);

    &:last-child {
      border-bottom: none;
    }

    &:last-child .bm-posts--content-wrap {
      padding-bottom: 0;
    }

    .bm-posts--img-wrap {
      figure {
        margin-bottom: var(--space-xs);
        width: 100%;

        img {
          aspect-ratio: var(--bm-posts--img-aspect-ratio);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .bm-posts--content-wrap {
      padding-bottom: var(--bm-posts--content-pb);
      display: flex;
      flex-direction: column;

      .bm-posts__title {
        margin-bottom: var(--bm-posts--title-mb);
        font-family: var(--bm-posts--title-font);
        font-size: var(--bm-posts--title-font-size);
        font-weight: var(--bm-posts--title-weight);
        line-height: var(--default-title-line-height);
        // line-height: var(--bm-posts--title-line-height);
        text-transform: var(--bm-posts--title-case);
        letter-spacing: var(--bm-posts--title-letter-spacing);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
          font-size: var(--bm-posts--title-font-size);
        }
      }

      .bm-posts__meta {
        color: var(--bm-posts--meta-color);
        font-size: var(--bm-posts--meta-font-size);
        font-family: var(--bm-posts--meta-font);
        font-weight: var(--bm-posts--meta-font-weight);
        column-gap: var(--space-6xs);
        margin-bottom: var(--bm-posts--meta-mb);

        a {
          font-size: var(--bm-posts--meta-font-size);
        }

        span {
          letter-spacing: var(--bm-posts--meta-letter-spacing);
        }
      }

      .bm-posts__excerpt {
        margin-bottom: var(--bm-posts--excerpt-mb);
        font-size: var(--bm-posts--excerpt-font-size);
        font-weight: var(--bm-posts--excerpt-font-weight);

        p {
          font-weight: var(--bm-posts--excerpt-font-weight);
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .bm-posts__link {
        text-transform: var(--bm-posts--link-case);
        letter-spacing: var(--bm-posts--link-letter-spacing);
        font-weight: var(--bm-posts--link-weight);

        &::after {
          color: var(--primary);
        }
      }
    }
  }

  .bm-posts--article-footer {
    display: flex;
    flex-direction: row;
    
  
    & > ul:first-child {
      width: 75%;
    }
  
    & > ul:last-child {
      width: 35%;
      margin-left: auto;
    }
  }
}

/****** Blog Main - Pagination *******/
.bm--pagination {
  margin-top: var(--bm-posts--pagination-mt);

  .page-numbers {
    column-gap: var(--space-3xs);

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      .page-numbers {
        font-size: var(--text-m);
      }
    }

  }
}

/****** Blog Main - Sidebar *******/
.bm-sidebar {
  row-gap: var(--bm-sb-block--row-gap);
}

.bm-sidebar-main {
  .brxe-sidebar {
    margin: 0;
  }
}

/****** Blog Main -- Search *******/
.bm-search {
  padding: var(--space-2xl) 0 var(--space-m);

  .bm-search--main {
    max-width: 700px;
    margin: 0 auto var(--space-l);
  }

  .bm-search--wrap {
    width: 100%;
  }

  .bm-search--main-field {
    width: 100%;

    input[type="search"] {
      width: 100%;
      height: 50px;
    }

    button {
      background-color: var(--primary);
      height: auto;
      cursor: pointer;
      transition: all 0.3s ease;
      border: 2px solid var(--primary);

      &:hover {
        background-color: transparent;

        i {
          color: var(--primary);
        }
      }
    }
  }

  .bm-search-block--result-status {
    align-items: center;

    h4 {
      margin-bottom: 0;
    }
  }
}

.bm-search-result {
  padding: var(--space-l) 0 var(--space-4xl);
}

/****** Template Sub Title *******/

/**************
Responsive
***************/
/* desktop-1440 | __on-3xl */
@include desktop-1440 {
}

/* desktop-1366 | __on-2xl */
@include desktop-1366 {
  .bm--posts-w-sidebar {
    .bm--posts-w-sidebar--row {
      column-gap: var(--bm-posts-sb--col-gap__on-2xl);
    }
  }
}

/* desktop-1200 | __on-xl */
@include desktop-1200 {
}

/* tablet-992 | __on-l */
@include tablet-992 {
  .bm--posts-w-sidebar {
    .bm--posts-w-sidebar--row {
      grid-template-columns: 1fr;

      &.bm-posts-w-sidebar--sb-posts {
        grid-template-columns: 1fr;
      }

      &.bm-posts-w-sidebar-v1--reversed__on-l {
        & > div:nth-child(1) {
          order: 2;
        }
        & > div:nth-child(2) {
          order: 1;
        }
      }
    }
  }
}

/* tablet 767 __on-m */
@include tablet-767 {
  .bm-posts {
    .bm-posts--item {
      .bm-posts--content-wrap {
        .bm-posts__meta {
          flex-direction: column;
          align-items: start;
          row-gap: 0;

          .separator {
            display: none;
          }
        }
      }
    }
  }
}

/* mobile-440 __on-s */
@include mobile-440 {
}
