/**************
   UI - Buttons
  ***************/
:root {
  // Main Button Settings
  --btn-border-width: 2px;
  --btn-border-radius: 0;
  --btn-border-color: var(--primary-btn-bg-color);
  --btn-border-color__hover: #B61572;

  --btn-font-weight: 600;
  --btn-font-family: var(--font-heading);
  // --btn-font-size: var(--text-m);
  --btn-letter-spacing: .5px;

  --btn-color: var(--text-light);
  --btn-color__hover: var(--primary);

  --btn-pd-tb: var(--space-4xs);
  --btn-pd-lr: var(--space-xs);

  --btn-sm-pd-tb: var(--space-7xs);
  --btn-sm-pd-lr: var(--space-3xs);

  --btn-min-width: 176px;

    // Primary button color
  --primary-btn-font-family: var(--btn-font-family);
  --primary-btn-font-size: var(--btn-font-size);
  --primary-btn-font-weight: var(--btn-font-weight);
  --primary-btn-letter-spacing: var(--btn-letter-spacing);
  --primary-btn-letter-case: uppercase;

  --primary-btn-color: var(--btn-color);
  --primary-btn-color__hover: var(--btn-color__hover); // Options: --primary__hover | Transparent
  
  --primary-btn-bg-color: var(--primary);
  --primary-btn-bg-color__hover: transparent;

  --primary-btn-border-width: var(--btn-border-width);
  --primary-btn-border-radius: var(--btn-border-radius);

  // Alt button color
  --alt-btn-font-size: var(--btn-font-size);
  --alt-btn-font-weight: var(--btn-font-weight);
  --alt-btn-font-family: var(--btn-font-family);
  --alt-btn-letter-spacing: var(--btn-letter-spacing);
  --alt-btn-letter-case: uppercase;

  --alt-btn-color: var(--btn-color);
  --alt-btn-color__hover: var(--primary); // Options: --secondary__hover | Transparent
  
  --alt-btn-bg-color: var(--secondary);
  --alt-btn-bg-color__hover: transparent;

  --alt-btn-border-width: var(--btn-border-width);
  --alt-btn-border-radius: var(--btn-border-radius);
  --alt-btn-border-color: var(--secondary);
  --alt-btn-border-color__hover: var(--btn-border-color__hover);

  // Padding
  --primary-btn-pd-tb: var(--btn-pd-tb);
  --primary-btn-pd-lr: var(--btn-pd-lr);

  --alt-btn-sm-pd-tb: var(--btn-pd-tb);
  --alt-btn-sm-pd-lr: var(--btn-pd-lr);
}

/****** Button *******/
.bricks-button {
  font-size: var(--primary-btn-font-size);
  font-weight: var(--primary-btn-font-weight);
  font-family: var(--primary-btn-font-family);

  background-color: var(--primary-btn-bg-color);
  color: var(--primary-btn-color);

  padding-top: var(--primary-btn-pd-tb);
  padding-right: var(--primary-btn-pd-lr);
  padding-bottom: var(--primary-btn-pd-tb);
  padding-left: var(--primary-btn-pd-lr);

  border-color: var(--btn-border-color);
  border-width: var(--primay-btn-border-width);
  border-radius: var(--primary-btn-border-radius);

  text-transform: var(--primary-btn-letter-case);
  letter-spacing: var(--primary-btn-letter-spacing);

  min-width: var(--btn-min-width);
  
  border-style: solid;
  line-height: 1;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    color: var(--primary-btn-color__hover);
    background-color: var(--primary-btn-bg-color__hover);
    border-color: var(--btn-border-color__hover);
  }

  &.btn--alt-color {
    font-size: var(--alt-btn-font-size);
    font-weight: var(--alt-btn-font-weight);
    font-family: var(--alt-btn-font-family);
    text-transform: var(--alt-btn-letter-case);
    letter-spacing: var(--alt-btn-letter-spacing);
    
    color: var(--alt-btn-color);
    background-color: var(--alt-btn-bg-color);
    border-color: var(--alt-btn-bg-color);    
    
    border-color: var(--alt-btn-border-color);

    border-width: var(--alt-btn-border-width);
    border-radius: var(--alt-btn-border-radius);

    &:hover {
      color: var(--alt-btn-color__hover);
      background-color: var(--alt-btn-bg-color__hover);
      border-color: var(--alt-btn-border-color__hover);
    }
  }

  &.btn--small {
    padding-top: var(--btn-sm-pd-tb);
    padding-right: var(--btn-sm-pd-lr);
    padding-bottom: var(--btn-sm-pd-tb);
    padding-left: var(--btn-sm-pd-lr);
  }

  &.btn--hvr-outline-light {
    &:hover {
      color: var(--text-light);
      border-color: var(--text-light);
      background-color: transparent;
    }
  }
}
