/**************
 Hero Block - Contact Form v1
***************/

.hero-area--main-wrap {
  /* Padding Top/Bottom */
  --ha--w-form-adj--main-wrap-pd: var(--space-m) 0 var(--space-m);
  --ha--w-form-adj--main-wrap-pd__on-l: var(--space-3xl) 0 var(--space-3xl);
  // --ha--w-form-adj--mir-row-gap__on-l: var(--ha--mir-row-gap__on-l);
  
  /* Column Row Gap */
  --ha--w-form-adj--mir-row-gap__on-l: var(--space-xl); // uncomment to use, comment above to disable
}

.ha--content--cf-layout {
  // Hero Card Form -ha--content--cf-layout
  --ha--cf-layout-bg: #ffffff;
  --ha--cf-layout-border-color: var(--theme-dark-gray);
  --ha--cf-layout-border-width: 1px;
  --ha--cf-layout-border-radius: 5px;
  --ha--cf-layout-pd-tb: var(--space-m);
  --ha--cf-layout-pd-lr: var(--space-s);
  --ha--cf-layout-mxw: 500px;

  --ha--cf-layout-head-mb: var(--space-s);
  --ha--cf-layout-head-font-family: var(--font-heading);

  --ha--cf-layout-head-label-font-size: var(--text-m);
  --ha--cf-layout-head-label-mb: var(--space-5xs);
  
  --ha--cf-layout-head-title-font-size: var(--text-2xl);
  --ha--cf-layout-head-title-mb: var(--space-6xs);

  --ha--cf-layout-head-subtitle-font-size: var(--text-l);
  --ha--cf-layout-head-subtitle-mb: var(--space-2xs);
  --ha--cf-layout-head-text-font-size: var(--text-m);
  --ha--cf-layout-head-text-mb: var(--space-3xs);
}


.hero-area {
  &.ha--w-form-ver {
    height: 100%;
    max-height: 100%;

    .hero-area--main-wrap {
      padding: var(--ha--w-form-adj--main-wrap-pd);
    }
  }

  .ha--content--cf-layout {
    border-style: solid;

    padding: var(--ha--cf-layout-pd-tb) var(--ha--cf-layout-pd-lr);
    max-width: var(--ha--cf-layout-mxw);

    background-color: var(--ha--cf-layout-bg);
    border-color: var(--ha--cf-layout-border-color);
    border-width: var(--ha--cf-layout-border-width);
    border-radius: var(--ha--cf-layout-border-radius);

    .ha--content--cf-layout__head {
      margin-bottom: var(--ha--cf-layout-head-mb);

      h6 {
        // Label
        font-size: var(--ha--cf-layout-head-label-font-size);
        margin-bottom: var(--ha--cf-layout-head-label-mb);
        font-family: var(--ha--cf-layout-head-font-family);
      }

      h2 {
        // Title
        font-size: var(--ha--cf-layout-head-title-font-size);
        margin-bottom: var(--ha--cf-layout-head-title-mb);
        font-family: var(--ha--cf-layout-head-font-family);
      }

      h4 {
        // Subtitle
        font-size: var(--ha--cf-layout-head-subtitle-font-size);
        margin-bottom: var(--ha--cf-layout-head-subtitle-mb);
        font-family: var(--ha--cf-layout-head-font-family);
      }

      p {
        font-size: var(--ha--cf-layout-head-text-font-size);
        margin-bottom: var(--ha--cf-layout-head-text-mb);
        font-family: var(--ha--cf-layout-head-font-family);
      }
    }
  }
}

/**************
Responsive
***************/
/* desktop-1440 | __on-3xl */
@include desktop-1440 {
}

/* desktop-1366 | __on-2xl */
@include desktop-1366 {
}

/* desktop-1200 | __on-xl */
@include desktop-1200 {
}

/* tablet-992 | __on-l */
@include tablet-992 {
  .hero-area {
    &.ha--w-form-ver {
  
      .hero-area--main-wrap {
        padding: var(--ha--w-form-adj--main-wrap-pd__on-l);
      }

      .hero-area--main-inner-row {
        row-gap: var(--ha--w-form-adj--mir-row-gap__on-l);
      }
    }
  }
}

/* tablet 767 __on-m */
@include tablet-767 {

}

/* mobile-440 __on-s */
@include mobile-440 {
}
