/**************
 Card Testimonial 
***************/
 
.card-v4--testimonial {
  padding: var(--space-2xs) var(--space-2xs);
  max-width: 86%;
  background-color: var(--bg-light);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.12);
  border-radius: 7px;
  transition: all 0.3s ease;

  .card-v4--testi_head {
    border-bottom: 1px solid #c7c7c7;

    h4 {
      font-size: var(--text-s);
      font-weight: 600;
      margin-bottom: var(--space-8xs);
      line-height: 1;
      letter-spacing: 0.5px;
    }

    .card-v4--testi_head-icons {
      margin-bottom: var(--space-4xs);

      .brxe-icon {
        font-size: var(--text-2xs);
        line-height: 1;

        &::before {
          color: #ffce00;
        }
      }
    }
  }

  .card-v4--testi_body {
    padding-top: var(--space-4xs);

    p {
      font-size: var(--text-2xs);
      margin-bottom: 0;
    }
  }
}

.card-v4--testimonial--slides {
  .splide__track {
    padding-top: 50px;
    min-height: 570px;
  }

  .splide__list {
    min-height: 400px;

    .is-active {
      position: relative;

      .card-v4--testimonial {
        top: 26px;
        position: relative;
        padding: var(--space-xs) var(--space-xs);
        transform: scale(1.3);
      }
    }
  }

  .splide__pagination {
    bottom: -14px;

    .is-active {
      background-color: var(--primary) !important;
    }
  }
}

/**************
Responsive
***************/
/* desktop-1440 | __on-3xl */
@include desktop-1440 {
}

/* desktop-1366 | __on-2xl */
@include desktop-1366 {
}

/* desktop-1200 | __on-xl */
@include desktop-1200 {
  .card-v4--testimonial {
    max-width: 96%;
  }

  .card-v4--testimonial--slides {
    .splide__track {
      padding-left: 14px !important;
      padding-right: 14px !important;
      padding-top: 60px;
      min-height: 520px;
    }

    .splide__list {
      .is-active {
        .card-v4--testimonial {
          top: 16px;
        }
      }
    }
  }
}

/* tablet-992 | __on-l */
@include tablet-992 {
  .card-v4--testimonial--slides {
    .splide__track {
      padding-left: 20px !important;
      padding-right: 20px !important;
      padding-top: 24px;
      padding-bottom: 24px;
      min-height: 100%;
    }

    .splide__list {
      min-height: auto;

      .card-v4--testimonial {
        top: 0;
        position: relative;
        padding: 30px;

        .card-v4--testi_head h4 {
          font-size: var(--text-l);
        }

        .card-v4--testi_body p {
          font-size: var(--text-m);
        }
      }

      .is-active {
        .card-v4--testimonial {
          top: 0;
          position: relative;
          padding: 30px;
          transform: scale(1);
          height: 100%;
        }
      }
    }
  }
}

/* tablet 767 __on-m */
@include tablet-767 {
  .card-v4--testimonial--slides {
    .splide__list {
      .is-active {
        .card-v4--testimonial {
          top: 0;
          position: relative;
          padding: 30px;
          transform: scale(1);
        }
      }
    }
  }
}

/* mobile-440 __on-s */
@include mobile-440 {
}
