/**************
 Counter v1
***************/
.counter-v1 {
  --counter-v1--mb: var(--space-6xs);
  --counter-v1--alignment: center;

  --counter-v1--ico-num-row-gap: var(--space-4xs);

  --counter-v1--icon-font-size: var(--text-6xl);
  --counter-v1--icon-color: initial;
  --counter-v1--icon-mb: var(--secondary);

  --counter-v1--counter-font: var(--font-heading);
  --counter-v1--counter-font-size: var(--text-5xl);
  --counter-v1--counter-font-weight: 600;
  --counter-v1--counter-color: var(--secondary);
  --counter-v1--counter-mb: var(--secondary);

  --counter-v1--count-prefix-font: var(--counter-v1--counter-font);
  --counter-v1--count-prefix-font-size: var(--counter-v1--counter-font-size);
  --counter-v1--count-prefix-color: var(--counter-v1--counter-color);
  --counter-v1--count-prefix-font-weight: var(
    --counter-v1--counter-font-weight
  );

  --counter-v1--count-suffix-font: var(--counter-v1--counter-font);
  --counter-v1--count-suffix-font-size: var(--counter-v1--counter-font-size);
  --counter-v1--count-suffix-color: var(--counter-v1--counter-color);
  --counter-v1--count-suffix-font-weight: var(
    --counter-v1--counter-font-weight
  );

  --counter-v1--title-color: var(--text-body);
  --counter-v1--title-font: var(--font-body);
  --counter-v1--title-font-size: var(--text-xl);
  --counter-v1--title-font-weight: 500;
  --counter-v1--title-text-case: capitalize;
}

.counter-v1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: var(--counter-v1--alignment);

  .counter--icon-number {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: var(--counter-v1--mb);
    row-gap: var(--counter-v1--ico-num-row-gap);
    line-height: 1;

    .brxe-icon {
      color: var(--counter-v1--icon-color);
      font-size: var(--counter-v1--icon-font-size);
      margin-bottom: var(--counter-v1--icon-mb-size);
    }

    .brxe-counter {
      .count {
        color: var(--counter-v1--counter-color);
        font-family: var(--counter-v1--counter-font);
        font-size: var(--counter-v1--counter-font-size);
        font-weight: var(--counter-v1--counter-font-weight);
        margin-bottom: var(--counter-v1--counter-mb);
      }

      .prefix {
        font-family: var(--counter-v1--count-prefix-font);
        font-size: var(--counter-v1--count-prefix-font-size);
        color: var(--counter-v1--count-prefix-color);
        font-weight: var(--counter-v1--count-prefix-font-weight);
      }

      .suffix {
        font-family: var(--counter-v1--count-suffix-font);
        font-size: var(--counter-v1--count-suffix-font-size);
        color: var(--counter-v1--count-suffix-color);
        font-weight: var(--counter-v1--count-suffix-font-weight);
      }
    }
  }

  .counter--title {
    color: var(--counter-v1--title-color);
    font-family: var(--counter-v1--title-font);
    font-size: var(--counter-v1--title-font-size);
    font-weight: var(--counter-v1--title-font-weight);
    text-transform: var(--counter-v1--title-text-case);
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

/**************
Responsive
***************/
/* desktop-1440 | __on-3xl */
@include desktop-1440 {
}

/* desktop-1366 | __on-2xl */
@include desktop-1366 {
}

/* desktop-1200 | __on-xl */
@include desktop-1200 {
}

/* tablet-992 | __on-l */
@include tablet-992 {
}

/* tablet 767 __on-m */
@include tablet-767 {
}

/* mobile-440 __on-s */
@include mobile-440 {
}
