/**************
 Counter v1
***************/
.counter--row {
  --count-row--jus-con: space-evenly;
  --count-row--col-gap: var(--space-s);
  --count-row--row-gap: var(--space-l);
}

/****** Counter Base *******/
// .counter {
//   &.counter__color-text-body {
//     .counter--icon-number {
//       color: var(--text-body);

//       .brxe-icon {
//         color: var(--text-body);
//       }

//       .brxe-counter {
//         color: var(--text-body);

//         .prefix, .count, .suffix {
//           color: var(--text-body);
//         }

//       }
//     }
//   }
// }

.counter--row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: var(--count-row--jus-con);
  column-gap: var(--count-row--col-gap);
  row-gap: var(--count-row--row-gap);
  margin-left: auto;
  margin-right: auto;

  &.counter--row--w-ver-bar-centered {
    column-gap: 30px;

    .counter-v1 {
      position: relative;

      &::before {
        content: "";
        width: 2px;
        background-color: #cdb85f;
        height: calc(100% - 0px);
        left: -57px;
        position: absolute;
      }

      &:first-child {
        &::before {
          display: none;
        }
      }
    }
  }
}

/**************
Responsive
***************/
/* desktop-1440 | __on-3xl */
@include desktop-1440 {
}

/* desktop-1366 | __on-2xl */
@include desktop-1366 {
}

/* desktop-1200 | __on-xl */
@include desktop-1200 {
}

/* tablet-992 | __on-l */
@include tablet-992 {
}

/* tablet 767 __on-m */
@include tablet-767 {
}

/* mobile-440 __on-s */
@include mobile-440 {
}
