/**************
 Section Grid
***************/

.se--column-2 {
  --se--col-2-col-gap: var(--space-se-col-2-col-gap);
  --se--col-2-row-gap: var(--space-se-col-2-row-gap);
}

.section-main--row {
}


// Section used: 1 + 
// Section Grid - Grid (Main Use)
.se--column-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;

  &.se-col-2--base-col {
    column-gap: var(--se--col-2-col-gap);
  }

  &.se-col-2--base-row {
    row-gap: var(--se--col-2-row-gap);
  }

  &.se--col-2--fr-pct-55-45 {
    grid-template-columns: 11fr 9fr;

    & > div:nth-child(1) > div {
      max-width: calc(var(--body-container-w) * 0.55);
    }

    & > div:nth-child(2) > div {
      max-width: calc(var(--body-container-w) * 0.45);
    }
  }

  &.se--col-2--fr-pct-45-55 {
    grid-template-columns: 9fr 11fr;
  }

  &.se--col-2--fr-pct-60-40 {
    grid-template-columns: 3fr 2fr;
  }

  &.se--col-2--fr-pct-40-60 {
    grid-template-columns: 2fr 3fr;
  }

  &.se--col-2--fr-pct-65-45 {
    grid-template-columns: 13fr 7fr;
  }

  &.se--col-2--fr-pct-45-65 {
    grid-template-columns: 7fr 13fr;
  }

  &.se--col-2--fr-pct-66-33 {
    grid-template-columns: 2fr 1fr;
  }

  &.se--col-2--fr-pct-33-66 {
    grid-template-columns: 1fr 2fr;
  }

  &.se--col-2--fr-pct-70-30 {
    grid-template-columns: 7fr 3fr;
  }

  &.se--col-2--fr-pct-30-70 {
    grid-template-columns: 3fr 7fr;
  }

  &.se--col-2--fr-pct-75-25 {
    grid-template-columns: 3fr 1fr;
  }

  &.se--col-2--fr-pct-25-75 {
    grid-template-columns: 1fr 3fr;
  }

  &.se--col-2--fr-pct-80-20 {
    grid-template-columns: 4fr 1fr;
  }

  &.se--col-2--fr-pct-20-80 {
    grid-template-columns: 1fr 4fr;
  }
}

.section-col { // To be updated
  position: relative;

  &.se--col--mxw-100 {
    & > div {
      max-width: 100% !important;
    }
  }
}

.se--col-inner {
  &.se--col-inner-mxw-98 {
    max-width: 98%;
  }
  &.se--col-inner-mxw-96 {
    max-width: 96%;
  }
  &.se--col-inner-mxw-96 {
    max-width: 96%;
  }
  &.se--col-inner-mxw-94 {
    max-width: 94%;
  }
  &.se--col-inner-mxw-92 {
    max-width: 92%;
  }
  &.se--col-inner-mxw-90 {
    max-width: 90%;
  }
  &.se--col-inner-mxw-88 {
    max-width: 88%;
  }
  &.se--col-inner-mxw-86 {
    max-width: 86%;
  }
  &.se--col-inner-mxw-84 {
    max-width: 84%;
  }
  &.se--col-inner-mxw-82 {
    max-width: 82%;
  }
  &.se--col-inner-mxw-80 {
    max-width: 80%;
  }
  &.se--col-inner-mxw-78 {
    max-width: 78%;
  }
  &.se--col-inner-mxw-76 {
    max-width: 76%;
  }
  &.se--col-inner-mxw-74 {
    max-width: 74%;
  }
  &.se--col-inner-mxw-72 {
    max-width: 72%;
  }
  &.se--col-inner-mxw-70 {
    max-width: 70%;
  }
}

.se--column-3 {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
}

.se--column-4 {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &.sc4__fr-1-4 {
    grid-template-columns: 2fr 5fr;
  }
}

.section-col-2--right {
  align-items: end;
  display: flex;
  flex-direction: column;
  width: 100%;

  &.flex-d-row {
    flex-direction: row;
  }
}

.section-col-2--half-container {
  width: calc(var(--body-container-w) / 2);

  &.hc-left {
    margin-left: auto;

    & > div {
      align-self: flex-start;
    }
  }

  &.hc-right {
    margin-right: auto;

    & > div {
      align-self: flex-end;
    }
  }
}

/**************
Responsive
***************/

/* desktop-1200 | __on-xl */
@include desktop-1200 {
  .section-col-4 {
    &.sc4__fr-1-4 {
      grid-template-columns: 1fr;
    }
  }

  .se--column-1__on-xl {
    grid-template-columns: 1fr;
  }

  .se--column-2__on-xl {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* tablet-992 | __on-l */
@include tablet-992 {
   .se--column-2 {
    grid-template-columns: 1fr;

    &.se--col-2--fr-pct-55-45,
    &.se--col-2--fr-pct-45-55,
    &.se--col-2--fr-pct-60-40,
    &.se--col-2--fr-pct-40-60,
    &.se--col-2--fr-pct-65-45,
    &.se--col-2--fr-pct-45-65,
    &.se--col-2--fr-pct-66-33,
    &.se--col-2--fr-pct-33-66,
    &.se--col-2--fr-pct-70-30,
    &.se--col-2--fr-pct-30-70,
    &.se--col-2--fr-pct-75-25,
    &.se--col-2--fr-pct-25-75,
    &.se--col-2--fr-pct-80-20,
    &.se--col-2--fr-pct-20-80 {
      grid-template-columns: 1fr;
      row-gap: var(--se--col-2-row-gap__on-l);
    }
  }

  .se--column-3 {
    grid-template-columns: 1fr;

    &.se--column-3--col-2__on-l {
      grid-template-columns: 1fr 1fr;
    }
  }

  .se--column-1__on-l {
    grid-template-columns: 1fr;
  }

  .se--column-2__on-l {
    grid-template-columns: repeat(2, 1fr);
  }

  .se--col-inner {
    &.se--col-2--half-container {
      width: var(--body-container-w__on-l);
    }
  }

  // // Old
  // .section-col-2 {
  //   grid-template-columns: 1fr;
  //   row-gap: var(--space-m);

  //   &.no-row-gap--on-tablet {
  //     row-gap: 0;
  //   }

  //   &.sc2__fr-2-1 {
  //     grid-template-columns: 1fr;
  //   }

  //   &.sc2__fr-1-2 {
  //     grid-template-columns: 1fr;
  //   }

  //   &.sc2__fr-3-1 {
  //     grid-template-columns: 1fr;
  //   }

  //   &.sc2__fr-1-3 {
  //     grid-template-columns: 1fr;
  //   }

  //   &.sc2__fr-4-1 {
  //     grid-template-columns: 1fr;
  //   }

  //   &.sc2__fr-5-2 {
  //     grid-template-columns: 1fr;
  //   }

  //   &.sc2__fr-2-5 {
  //     grid-template-columns: 1fr;
  //   }
  // }

  // .section-col-2-reversed--on-tablet {
  //   grid-template-columns: 1fr;
  //   row-gap: var(--space-m);
  //   grid-template-areas:
  //     "column2"
  //     "column1";

  //   & > div:nth-child(1) {
  //     grid-area: column1;
  //   }

  //   & > div:nth-child(2) {
  //     grid-area: column2;
  //   }
  // }

  // .section-col-2--half-container {
  //   width: var(--body-container-w);
  //   max-width: var(--body-container-mw);
  //   margin: 0 auto;
  // }

  // .section-col-3 {
  //   grid-template-columns: 1fr;
  //   row-gap: var(--space-m);

  //   &.sc3--base__rxg--on-tablet {
  //     row-gap: var(--space-xl);
  //   }
  // }

  .section-col-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* tablet 767 __on-m */
@include tablet-767 {
  
  .se--column-1__on-m {
    grid-template-columns: 1fr;
  }

  .se--col-inner {
    &.se--col-2--half-container {
      max-width: var(--body-container-mw__on-m);
    }

    &.se--col-cont__on-m {
      width: var(--body-container-mw__on-m);
    }
  }

  // // Old
  // .section-col-2--half-container {
  //   width: 100%;
  // }

  // .se--column-3 {
  //   grid-template-columns: 1fr;

  //   &.se--column-3--col-2__on-m {
  //     grid-template-columns: 1fr 1fr;
  //   }

  //   &.se--column-3--col-1__on-m {
  //     grid-template-columns: 1fr;
  //   }
  // }

  .section-col-4 {
    display: grid;
    grid-template-columns: 1fr;
  }
}
